<section class="container">
    <h2>About us</h2>
    <!--todo: talk about us-->
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eaque officiis temporibus unde. Architecto
        distinctio doloremque facere fugit labore voluptatibus! Aliquid architecto cupiditate ducimus laborum
        necessitatibus optio quae quaerat similique.
    </p>
    <div class="divider"></div>
    <div class="section">
        <h3>El Amel project Summer Camp</h3>
        <p>Is a program co-sponsored by Berlitz and the US EMBASSY to offer an intensive,
            Free English Language for students , in the age between 18to 25 years old .
            2016 is the 9th edition of EL Amel project in Algeria, the frist one was in 2009, It was only in Algers .It
            started with 50 student .yet 2015 El Amel project was for the first time in oran.</p>
        <p>For more information, contact <a href="https://www.facebook.com/Berlitz-Oran-350548268377949"
                                            target="_blank">Berlitz Oran at Facebook</a>, or visit <a
                href="http://berlitz.dz/" target="_blank">www.berlitz.dz</a> .</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h3>About this Website</h3>
        <p>Made usnig opensource technologies <em>(Materialize, AngularJS 1.x, GoogleFonts)</em> and the template's <a
                href="https://github.com/Fcmam5/berlitz-amel2016-boxyWebComic"
                target="_blank">source code is available on Github</a>, feel free to hack it !</p>
        <!--todo: Add Fcmam5's link-->
        <p>It was <a href="#">my</a> first time using AngularJS, and it was a challenge to learn & use it in two weeks !
        </p>
    </div>
</section>