<section class="container" ng-controller="chapterList">
        <!--todo: Change this to a good sentence -->
    <h1>Reading page</h1>
    <div class="row">
            <form action="" class="col m4 s12">
                <!--Todo: change texes-->
                <label>Read a chapter</label>
                <select class="browser-default">
                    <option ng-repeat="chapter in chapters" ng-value="{{chapter.num}}">{{chapter.name + ": " + chapter.title}}</option>
                </select>
            </form>

        <!--Display dynamic chapter section -->
            <div class="col m8 right s12">
                <!--todo: dynamicly choose shortStory-->
                <p>{{chapters[0].shortStory}}</p>
            </div>

    </div>

    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content">
                    <!--todo: change content dynamically-->
                    <img class="comic-image" ng-src="{{chapters[0].comicImg}}">
                </div>
                <div class="card-action">
                    <h3>Chapter #{{chapters[0].num}}</h3>
                    <p>{{chapters[0].story}}</p>
                    <div class="divider"></div>
                   <div class="section">
                       <!-- AddToAny BEGIN -->
                       <div class="a2a_kit a2a_kit_size_32 a2a_default_style social-sharing-icons">
                           <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl=http%3A%2F%2Ffcmam5.github.io%2Fberlitz-amel2016-boxyWebComic%2Fread&amp;linkname="></a>
                           <a class="a2a_button_facebook"></a>
                           <a class="a2a_button_twitter"></a>
                           <a class="a2a_button_google_plus"></a>
                           <a class="a2a_button_pinterest"></a>
                           <a class="a2a_button_viber"></a>
                           <a class="a2a_button_telegram"></a>
                       </div>
                       <script>
                           var a2a_config = a2a_config || {};
                           a2a_config.linkurl = "http://fcmam5.github.io/berlitz-amel2016-boxyWebComic/read";
                       </script>
                       <script async src="https://static.addtoany.com/menu/page.js"></script>
                       <!-- AddToAny END -->
                   </div>
                </div>
            </div>
        </div>

        <div class="col m12 hide-on-small-and-down">
            <div class="card">
                <div class="card-content">
                    <!--Facebook Commetns-->
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-comments" data-href="http://fcmam5.github.io/berlitz-amel2016-boxyWebComic/read" data-numposts="5" data-width="100%"></div>
                </div>
            </div>
        </div>

    </div>
</section>